<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	 xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<title>Pagina Inicial</title>
</head>
<body>
<div align="center">
	<h1>Listagem de Produtos</h1>
	<a href="new">Criar um Novo Produto</a>
	<br>
	<br>
	<table border="1" cellpadding="10">
	
		<thead>
		<tr>
			<th>Id Produto</th>
			<th>Nome Produto</th>
			<th>Nome Marca</th>
			<th>Preco</th>
			<th>Categoria</th>
			<th>Ja Possui</th>
			<th>Ação</th>
		</tr>
		</thead>
		<tbody align="center">
			<tr th:each="produto : ${listaProdutos}">
				<td th:text="${produto.id}">Id Produto</td>
				<td th:text="${produto.nome}">Nome Produto</td>
				<td th:text="${produto.marca}">Nome Marca</td>
				<td th:text="${produto.preco}">Preco</td>
				<td th:text="${produto.categoria}">Categoria</td>
				<td th:text="${produto.japossui}">Ja Possui</td>
				<td><a th:href="@{'/editar/' + ${produto.id}}">Editar</a></td>
			</tr>
			
		</tbody>
	
	</table>
	</div>
</body>
</html>